<app-navbar></app-navbar>
<div>
    <form class="login" [formGroup]="loginForm">
        <input type="text" placeholder="מספר אישי" formControlName="id">
        <input type="text" placeholder="שם פרטי" formControlName="first_name">
        <input type="text" placeholder="שם משפחה" formControlName="last_name">
        <input type="date" placeholder="תאריך לידה" formControlName="birth_date">
        <input type="text" placeholder="טלפון נייד" formControlName="phone_number">
        <input type="text" placeholder="איש קשר ביחידה" formControlName="commander_contact">
        <label>פטור שמירות ב</label>
        <input type="checkbox" placeholder="b objection" formControlName="b_objection">
        <label>קצין</label>
        <input type="checkbox" placeholder="lieutenant" formControlName="lieutenant">
        <button (click)="onSubmit()">יצירת שומר חדש</button>
    </form>
</div>