<div>
    <mat-toolbar style="background-color: #5e97ab;">
      <mat-toolbar-row>
        <span>ShiftMaster</span>
        <img src="../../assets/סמל פלגת חוד - 2023.png" id=logo height="50" width="50">
        <span class="menu-spacer"></span>
        <div fxShow="true" fxHide.lt-md>
          <a href="/map-page" mat-button class="mat-shadow-button">Map</a>
          <a href="/login" mat-button class="mat-shadow-button">Login</a>
          <a href="/register" mat-button class="mat-shadow-button">Register</a>
          <a href="/about" mat-button class="mat-shadow-button">About</a>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
  