<div>
    <mat-toolbar style="background-color: #5e97ab;">
      <mat-toolbar-row>
        <span>Shaylee2.0</span>
        <img src="../../assets/סמל פלגת חוד - 2023.png" id=logo height="50" width="50">
        <span class="menu-spacer"></span>
        <div fxShow="true" fxHide.lt-md>
          <a href="/create-user" mat-button class="mat-shadow-button">create user</a>
          <a href="/calendar" mat-button class="mat-shadow-button">calender</a>
          <a href="/broadcast" mat-button class="mat-shadow-button">broadcast</a>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
  